
/*
 ==========================================================================
created by yang wang
========================================================================== */


body {
	height: 100%;
	font-family: 'Montserrat';
	margin: 0; 
	padding: 0;
	font-size: 10px;
}

a:link{
	color: #808080;
}
a:visited {
	color: #808080;
}
a:hover {
	color: white;
	text-decoration: none;
}

/*MENU*/


.title {
	position: fixed;
	top: 2%;
	right: 2.5%;
	color: white;
	text-align: right;
}


.tabs {
	top:-20px;
	position: relative;
	font-size: 22px;
	font-weight: 700;
	display: inline;
	text-align: right;
}


.logo {
	font-weight: 400;
	font-size: 40px;
}


.dropdown {
	padding-top: 15px;
}


#submit {
	border: none;
    padding-top: 0px;
    padding-bottom: 0px;
	opacity: 0.3;
	padding-left: 10px;
	padding-right: 10px;
	position: fixed;
	font-size: 9px;
	bottom: 4.1%;
	left: 30%;
	margin: 0px;
}


#submit:hover{
	opacity: 1.0;
}


#gallery{
    border: none;
    padding-top: 0px;
    padding-bottom: 0px;
	opacity: 0.3;
	padding-left: 10px;
	padding-right: 10px;
	margin: 0px;
	position: fixed;
	font-size: 9px;
	bottom: 4.1%;
	left: 47%;

}

#gallery:hover{
	opacity: 1.0;
}



#carousel-example-generic {
	position: fixed;
}

#gallery_content{

	position: fixed;
	background-color: black;
	bottom: 10%;
	margin: 0px;
	padding: 0px;
	left: 30%;
	text-align: center;
	opacity: 0.8;
	width: 500px;
	height: auto;

}

#loaded_data{

	display: inline-block;
	opacity: 1.0;
	color: white;
}

/*RIGHT SIDE BAR*/

#toPhysical {
  position: fixed;
  top: 0px;
  bottom: 0px;
  right: 0px;
  width: 15px;
  height: 100%;
  
}

#pathimage{
	position: fixed;
	
	right: 18%;

	top: 10%;
}

#formimage{
	position:fixed;
	left:0%;
	display:none;
}

#all_data {
	font-size: 8px;
}

.gallery_in_title {

	font-size: 25px;

}
/*FOOTER*/

.footer {

	opacity: 0.4;
	font-family: 'Montserrat';
 	position: fixed;
 	bottom: 0%;
	right: 2.5%;
	color: white;
    font-size: 10px;
}


