{% extends "/index_path.html" %}



{% block scriptAndStyle %}
<style type="text/css">

body{

	background: black;

}

.title{
	color: white;
}

.tabs{
	color: white;
}

.footer{
	color: white;
}

#toForm{
	color:#f1f1f1;
}

#toReport {
	color: black;
	background-color: white;
}

#submit {
	color: black;
	background-color: white;
}


</style>




	
	<script>
		$(document).ready(function(){
		$('#toReport').mouseover(function(){
		$(this).addClass('dropdown');
		})

		$('#toReport').mouseleave(function(){
		$(this).removeClass('dropdown');
		})

			$("#submit").click(function(){

				var pjs = Processing.getInstanceById('mySketch');
				var submission_data  = pjs.get_a();
			
				
				$.post("/Form", 
					{"value": submission_data},
				console.log(submission_data),"json"
				);


			});




		})
	</script>




{% endblock %}


{% block bgmusic %}
	<audio autoplay="true" loop><source src="static/music/03a.mp3" type="audio/mpeg"/></audio>
{% endblock %}




		{% block toreport %}
	
		<a id="toReport" href="/formuserdata">BALANCE REPORT</a>

		{% endblock %}



{% block sketchURL %}
<div>
 <canvas class="myCanvas"  id="mySketch" data-processing-sources="/static/processing/Sphere_of_Particles/Sphere_of_Particles.pde"></canvas>
</div>
<p id="submit">SUBMIT MY VERSION OF BALANCE</p>
{% endblock %}



