{% extends "/layout.html" %}

{% block body %}
<body>


	{% block scriptAndStyle %}
	<style type="text/css">

		body{
			background: white;

		}

		.title{
			color: black;
		}

		.tabs{
			color: black;
		}

		.footer{
			color: black;
		}

		#toPath{
			color:#272727;
		}

		a:hover {
			color: black;
			text-decoration: none;
		}


		#submit {
			color: white;
			background-color: black;
		}



	</style>


	<script>

		$(document).ready(function(){

			$('#toReport').mouseover(function(){
			$(this).addClass('dropdown');
			})

			$('#toReport').mouseleave(function(){
			$(this).removeClass('dropdown');
			})

			$("#submit").click(function(){

				var pjs = Processing.getInstanceById('mySketch');
				var submission_data  = pjs.get_a();
			
				
				$.post("/", 
					{"value": submission_data},
				console.log(submission_data),"json"
				);


			});












		})
	</script>

	{% endblock %}


	{% block bgmusic %}
	<audio autoplay="true" loop><source src="static/music/bg.mp3" type="audio/mpeg" /></audio>
	{% endblock %}

<div id="header">
	<div class="title">
		<p class="logo">BALANCE</p>

		
		<div class="tabs">
		
			{% block tabs %}
			<a id="toPath" class="tab" href="/">PATH</a>
			<a id="toForm" class="tab" href="/Form">FORM</a> 
			{% endblock %}

		</div>
		<!-- <p id="logo_subtitle"> BY <a href="http://yangwangphilo.com">Yang Wang</a> AND <a href="http://zhenzhenqi.info/">Zhenzhen Qi</a> </p> -->
	</div>


		{% block toreport %}
	
		<a id="toReport" href="/pathuserdata">BALANCE REPORT</a>

		{% endblock %}
</div>

	{% block sketchURL %}
	<div>
	 <canvas id="mySketch" class="myCanvas" data-processing-sources="/static/processing/sketch2.pde"></canvas>
	</div> 
	<p id="submit">I CONSIDER THIS IS BALANCED</p>
	{% endblock %}

</body>
{% endblock %}

