<!-- 
created by yang wang 
-->

<!DOCTYPE html>

    <head>
        <title>Project Balance</title>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">

        <!--  this is css links -->
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
        
        <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>

        <!--   this is all the js.scripts -->
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>

         <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script> 
        

        <script src="//cloud.github.com/downloads/processing-js/processing-js/processing-1.4.1.js"></script>
        <script src="{{ url_for('static', filename='js/main.js') }}"></script>

    </head>


{% block body %}
{% endblock %}

{% block footer %}
    <div class="footer">
        <p>
        Created By <a href="http://yangwangphilo.com">Yang Wang</a> AND <a href="http://zhenzhenqi.info/">Zhenzhen Qi</a> . All rights reserved
    </p>
    </div>
{% endblock  %}